:root {
    --squares-per-side: 16;
}

* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: min(80vh, 80vw);
    margin: auto;
}

.container div {
    width: calc(min(80vh, 80vw) / var(--squares-per-side));
    height: calc(min(80vh, 80vw) / var(--squares-per-side));
    border: 1px solid black;
}

.colored {
    background-color: black;
}

h1 {
    display: inline-block;
    margin-right: 2rem;
}